/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

body {
  .click {
    cursor: pointer;
  }

  .card-bg {
    background: url('~@/assets/img/bg.png') center center repeat;
    background-size: 100px auto;
  }
}