<template>
  <div>
    <v-layout wrap row>
      <v-flex xs12>
        <h1 class="text-center pink--text pa-2">基本購物流程邏輯</h1>
      </v-flex>
      <v-flex xs12 mt-4>
        <v-card class="mb-6">
          <v-card-text class="pa-1">
            <v-flex text-center xs12>
              <h1 class="text-center py-4">
                1.Select Price
              </h1>
              <v-btn
                v-for="price in priceList"
                :key="`priceList-${price}`"
                class="ma-3"
                :class="{
                  'primary': price === 3999,
                  'success': price === 4999,
                  'warning': price === 5999,
                }"
                @click="goPrice = price"
              >
                $. {{ price }}
              </v-btn>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md2 pa-2>
        <v-card class="mb-6">
          <v-card-text class="pa-1">
            <h2 class="text-center pa-3">
              Operate
            </h2>
            <v-flex text-center xs12>
              <v-chip
                v-for="(fruit, idx) in basket"
                :key="`basket-List-${idx}`"
                class="ma-3"
                color="error"
                close
                @click:close="cancel(fruit)"
              >
                {{ fruit.name }}
              </v-chip>
              <v-flex pa-3 v-show="!basket.length"> Basket Empty </v-flex>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md7 pa-2>
        <v-card class="mb-6" min-height="400px">
          <h2 class="text-center py-4">
            Fruits Basket
          </h2>
          <v-flex row wrap xs12 ma-0>
            <v-flex
              v-for="(fruit, idx) in basket"
              :key="`basket-${idx}`"
              class="ma-3"
              color="primary"
            >
              <pre class="caption">{{ fruit }}</pre>
            </v-flex>
          </v-flex>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 pa-2>
        <v-card class="mb-6">
          <v-card-text>
            <v-flex xs12>
              <h2 class="text-center">
                Shopping Cart
              </h2>
              <div
                v-for="(fruit, idx) in basket"
                :key="`basket-${idx}`"
                class="ma-3"
                color="primary"
              >
                {{ idx + 1 }}. {{ fruit.name }} : $. {{ fruit.id }}
              </div>
            </v-flex>
            <v-flex xs12>
              <v-flex pa-3 text-center v-show="!basket.length"> Basket Empty </v-flex>
              <v-divider></v-divider>
              <h2 class="ma-3 mb-0">
                Total : $. {{ count }}
              </h2>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 text-center>
        <v-card class="mb-6">
          <v-card-text>
            <h1 class="text-center py-4">
              2.Select 3 kind
            </h1>
            <v-btn
              v-for="(fruit, idx) in lastFruits"
              :key="`fruits-${idx}`"
              class="ma-3"
              :class="{
                'primary': goPrice === 3999,
                'success': goPrice === 4999,
                'warning': goPrice === 5999,
              }"
              :disabled="basket.length === 3"
              @click="addBasket(fruit)"
            >
              {{ fruit.name }}
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import originfruits from "@/assets/json/fruits.json";
export default {
  name: 'Basket',
  data() {
    return {
      priceList: [3999, 4999, 5999],
      goPrice: 3999,
      color: 'primary',
      basket: [],
      originfruits,
    };
  },
  computed: {
    fruits () {
      switch (this.goPrice) {
        case 3999:
          return this.originfruits.slice(0, 5)
        case 4999:
          return this.originfruits.slice(5, 10)
        case 5999:
          return this.originfruits.slice(10, 15)
      }

      return this.originfruits
    },
    lastFruits() {
      return this.fruits.filter(
        (fruit) =>
          !this.basket.some((basketFruit) => basketFruit.id === fruit.id)
      );
    },
    count () {
      let price = 0
      this.basket.forEach((list) => {
        price = price + list.id
      })
      return price
    }
  },
  methods: {
    addBasket(data) {
      this.basket.push(data);
    },
    cancel(data) {
      this.basket = this.basket.filter((fruit) => fruit.id !== data.id);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>