<template>
  <div>
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <h1 class="text-center pink--text pa-2">corona.lmao.ninja-covid19-api</h1>
      </v-flex>
      <v-flex xs12 md4 pa-2>
        <v-select
          v-model="continent"
          :items="continentList"
          label="區域"
          hide-details
          solo
          :disabled="covid19List.length === 0"
        >
          <template slot="selection" slot-scope="data">
            {{ !data.item ? '全部' : data.item }}
          </template>
          <template slot="item" slot-scope="data">
            {{ !data.item ? '全部' : data.item }}
          </template>
        </v-select>
      </v-flex>
      <v-flex xs12 md6 pa-2>
        <v-autocomplete
          v-model="country"
          :items="formatCountryList"
          label="搜尋國家"
          item-text="country"
          placeholder="輸入 Taiwan"
          chips
          clearable
          deletable-chips
          multiple
          small-chips
          solo
          :disabled="formatCountryList.length === 0"
        >
          <template
            slot="selection"
            slot-scope="data"
          >
            <div>
              <v-chip
                color="error"
                :input-value="data.country"
                small
                close
                class="white--text ma-1"
                @click:close="removeResult(data.item)"
              >
                {{ data.item.country }}
              </v-chip>
            </div>
          </template>
        </v-autocomplete>
      </v-flex>
      <v-flex xs12 my-4>
        <v-divider />
      </v-flex>
      <v-flex
        xs12
        md4
        lg2
        v-for="(list, idx) in formatCovid19List"
        :key="`covid19List-${idx}`"
        class="pa-3"
      >
        <v-card>
          <v-card-text>
            <v-flex xs12 my-4>
              <v-divider />
            </v-flex>
            <v-flex xs12>
              <v-layout row wrap px-3>
                <v-flex xs12 sm4 my-auto>
                  <v-img
                    :src="list.countryInfo.flag"
                    contain
                    height="100px"
                  >
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        />
                      </v-row>
                    </template>
                  </v-img>
                </v-flex>
                <v-flex xs12 sm8 my-auto>
                  <h3 class="text-center">
                    {{ list.continent }} - {{ list.country }}
                  </h3>
                  <h4 class="text-center">
                    ({{ list.countryInfo.lat }}, {{ list.countryInfo.long }})
                  </h4>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 my-4>
              <v-divider />
            </v-flex>
            <v-flex xs12 pt-1>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-calendar-range</v-icon>今日確診：{{ tenPercentile(list.todayCases) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-calendar-range</v-icon>今日死亡數：{{ tenPercentile(list.todayDeaths) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-book</v-icon>總個案數：{{ tenPercentile(list.cases) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-arrow-top-right-thick</v-icon>活躍個案數：{{ tenPercentile(list.active) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-emoticon</v-icon>康復個案數：{{ tenPercentile(list.recovered) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-test-tube</v-icon>已測試數：{{ tenPercentile(list.tests) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-grave-stone</v-icon>總死亡個案數：{{ tenPercentile(list.deaths) }}</v-flex>
              <v-flex xs12 py-1><v-icon class="mb-1 mr-1">mdi-skull-crossbones</v-icon>死亡率：{{ rate(list.deaths, list.cases) }} </v-flex>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex v-if="covid19List.length === 0">
        <h1 class="text-center">
          無資料
        </h1>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: "covid_19",
  data() {
    return {
      covid19List: [],
      continentList: [],
      continent: '',
      countryList: [],
      country: ['Taiwan', 'USA', 'Japan', 'India', 'UK', 'Canada', 'China']
    };
  },
  computed: {
    formatCovid19List () {
      return this.covid19List.filter((list)=> (!this.continent ? true : list.continent === this.continent) && (this.country.length === 0 ? true : (this.country.includes(list.country))))
    },
    formatCountryList () {
      return this.countryList.filter((list)=> (!this.continent ? true : list.continent === this.continent))
    },
    rate () {
      return (death, total) => {
        return Math.round((death / total) * 10000 + Number.EPSILON) / 100 + "%"
      }
    },
  },
  async beforeMount() {
    await this.listInit()
  },
  methods: {
    tenPercentile (val) {
      let num = Number(val)

      if (isNaN(num)) {
        num = ''
      }

      return num.toString().replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function (all, pre, groupOf3Digital) {
        return pre + groupOf3Digital.replace(/\d{3}/g, ',$&')
      })
    },
    async listInit() {
      let loader = this.$loading.show()
      const url = "https://corona.lmao.ninja/v2/countries"

      await this.axios.get(url)
      .then((res) => {
        let continentData = res.data.map(item => (item.continent))

        const continentList = [...new Set(continentData.map(item => JSON.stringify(item)))].map(item => JSON.parse(item))

        continentList.unshift('')

        let countryData = res.data.map(item => ({
          country: item.country,
          continent: item.continent
        }))

        const countryList = [...new Set(countryData.map(item => JSON.stringify(item)))].map(item => JSON.parse(item))

        this.$set(this, "continentList", continentList)
        this.$set(this, "countryList", countryList)
        this.$set(this, "covid19List", res.data)
        loader.hide()
      })
      .catch((err)=> {
        console.log(err)
        loader.hide()
      })
    },
    removeResult(item) {
      this.country.splice(this.country.indexOf(item.country), 1);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>