<template>
  <v-app>
    <v-app-bar app color="pink lighten-2" dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-flex class="align-center ">
        <h2 class="click" @click="$router.push('/info')">
          {{ title }}
        </h2>
      </v-flex>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      class="card-bg"
      app
    >
      <v-flex
        xs6
        mx-auto
        class="mx-auto ma-2"
      >
        <v-img
          alt="Vuetify Logo"
          class="shrink click mr-2"
          contain
          :src="logo"
          transition="scale-transition"
          @click="$router.push('/')"
        />
      </v-flex>
      <v-flex xs12 mx-2>
        <v-divider />
      </v-flex>
      <v-list
        nav
        dense
      >
        <v-list-group
          active-class="pink--text text--accent-4"
          v-for="(list, i) in menu"
          :key="`menu-${i}`"
        >
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>
                {{ list.icon }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ list.name }}
              </v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            active-class="pink--text text--accent-4"
            v-for="(child, i) in list.child"
            :key="`list-${i}`"
            :to="child.route"
            class="ml-5"
          >
            <v-list-item-icon>
              <v-icon v-text="child.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="child.name"></v-list-item-title>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-main class="pink lighten-5 card-bg">
      <v-flex xs12>
        <v-img class="hidden-lg-and-up" :lazy-src="banner" :src="banner" contain>
          <h1 class="pa-md-10 pa-2 hidden-sm-and-down">
            Village People<br />
            YMCA OFFICIAL 1978
          </h1>
          <h2 class="pa-6 hidden-md-and-up">YMCA</h2>
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="grey lighten-5" />
            </v-row>
          </template>
        </v-img>
      </v-flex>
      <v-flex class="mx-12 mx-10 my-6">
        <transition name="slide">
          <router-view></router-view>
        </transition>
      </v-flex>
    </v-main>
    <v-footer app color="pink lighten-2" dark>
      © {{ new Date().getFullYear() }} -
      <strong class="ml-2">{{ title }}</strong>
    </v-footer>
  </v-app>
</template>

<script>
import feature from "@/assets/json/feature.json"

export default {
  name: "Index",
  data() {
    return {
      logo: require("@/assets/img/logo.png"),
      banner: require("@/assets/img/banner.png"),
      title: "Nick-Web",
      menu: feature,
      drawer: true,
      group: ''
    };
  },
  mounted() {
    let loader = this.$loading.show();
    setTimeout(() => {
      loader.hide();
    }, 1000);
  },
};
</script>

<style lang="scss" scoped>
</style>