<template>
  <v-flex xs12 lg7 mx-auto>
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <h1 class="text-center pink--text pa-2">Vue Basic Example</h1>
      </v-flex>
      <h1 class="text-center mt-8">Vue v-for 迴圈</h1>
      <v-flex xs12>
        <v-divider />
      </v-flex>
      <v-flex xs12>
        <!-- v-for & v-if 不能同時並用 -->
        <v-flex xs12 class="my-6 text-center">
          <v-layout row wrap>
            <v-flex v-for="(n, index) in 5" class="ma-2" :key="`vue-${index}`">
              <v-card class="pa-2">
                <span>
                  Card-({{ index }})
                  <label
                    :class="{
                      'error--text': index === 4,
                      'success--text': index !== 4,
                    }"
                  >
                    {{ index === 4 ? "No" : "Yes" }}
                  </label>
                </span>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-flex>
      <h1 class="text-center mt-8">v-if ...else & v-show 判斷式</h1>
      <v-flex xs12>
        <v-divider />
      </v-flex>
      <v-flex xs12 md8 class="mb-5">
        <v-layout row wrap mt-6>
          <v-flex xs12 md6 class="mb-3 px-6">
            <p>
              v-if...v-else 為條件的渲染
            </p>
            <v-switch
              v-model="ifBtn"
              color="success"
              :label="`Status: ${ifBtn.toString()}`"
            ></v-switch>
            <v-card v-if="ifBtn" color="success" class="white--text text-center pa-3" ref="btn-1"> v-if </v-card>
            <v-card v-else color="error" class="white--text text-center pa-3" ref="btn-2"> v-else </v-card>
          </v-flex>
          <v-flex xs12 md6 class="mb-3 px-6">
            <p>
              v-show 為 css 隱藏/顯示
            </p>
            <v-switch
              v-model="showBtn"
              color="success"
              :label="`Status: ${showBtn.toString()}`"
            ></v-switch>
            <v-card v-show="showBtn" color="success" class="white--text text-center pa-3" ref="btn-1"> v-show </v-card>
            <v-card v-show="!showBtn" color="error" class="white--text text-center pa-3" ref="btn-2"> !v-show </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12>
        <h1 class="text-center mt-6">Vue Computed</h1>
        <v-flex xs12>
          <v-divider />
        </v-flex>
        <v-layout row wrap justify-center>
          <v-flex xs12 md3 class="my-6">
            <h4>
              原始 originArr data
            </h4>
            <pre>originArr : {{ originArr }}</pre>
          </v-flex>
          <v-flex xs12 md3 class="my-6">
            <h4>
              重新定義過的 formatArr data
            </h4>
            <pre>formatArr: {{ formatArr }}</pre>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12>
        <h1 class="text-center mt-6">Vue Watch 監聽</h1>
        <v-flex xs12>
          <v-divider />
        </v-flex>
        <v-layout row wrap justify-center mt-10 mb-3>
          <v-flex xs12 md6 class="my-6">
            <v-flex class="my-auto mx-auto my-auto">
              <v-text-field
                solo
                append-icon="mdi-arrow-right"
                hide-details
                v-model="watchVal"
              />
            </v-flex>
          </v-flex>
          <v-flex xs12 md6 class="my-6 pl-8 my-auto">
            <h4>監聽 watchVal 值</h4>
            <h5>-當 watchVal 為空時, copyVal 會取代為 set empty</h5>
            <v-divider class="my-2" />
            <h4 class="mt-1">WatchVal: {{ watchVal }}</h4>
            <h4>CopyVal: <span class="error--text">{{ copyVal }}</span></h4>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12>
        <h1 class="text-center mt-8">Vue Props</h1>
      </v-flex>
      <v-flex xs12 mb-4>
        <v-divider />
      </v-flex>
      <v-flex xs12 md6 class="my-auto mx-auto">
        <v-text-field
          solo
          append-icon="mdi-arrow-right"
          hide-details
          v-model="msg"
        />
      </v-flex>
      <v-flex xs12 md6 class="pt-5">
        <HelloWorld :msg="msg" />
      </v-flex>

      <v-flex xs12>
        <h1 class="mt-8 mb-6 text-center">
          Vue 父傳子 & Vue 子傳父
        </h1>
      </v-flex>
      <v-flex xs12>
        <v-divider />
      </v-flex>
      <v-flex xs12>
        <h3 class="text-center mt-6">
          1.父傳子-父元件(Father)去傳遞資料至子元件(Kid)生成(Kid-Button)
        </h3>
        <h3 class="text-center mb-6">
          2.子傳父-子元件(Kid)可再逆傳遞回父元件(Father)，改變原本傳遞進來的資料
        </h3>
      </v-flex>
      <v-flex xs12 pa-md-10>
        <v-layout row wrap>
          <v-flex xs12 md4 my-auto text-center fill-height>
            <v-btn color="error" block min-height="200" @click="add()">
              <v-icon class="mr-2"> mdi-human-male-girl </v-icon>
              <h3>
                Father<br>
                own {{ childrens.length }} kids
              </h3>
            </v-btn>
          </v-flex>
          <v-flex xs1 text-center mx-auto my-auto>
            <v-icon large> mdi-arrow-right-bold </v-icon>
          </v-flex>
          <v-flex xs12 md7 mx-auto>
            <Childrens :kids.sync="childrens" />
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12>
        <h1 class="text-center mt-8">Vue Slot 佔位</h1>
      </v-flex>
      <v-flex xs12>
        <v-divider />
      </v-flex>
      <v-flex xs12>
        <TestSlot>
          <template v-slot:footer>
            <h3>And another one.</h3>
          </template>

          <template v-slot:default>
            <h2>A paragraph for the main content.</h2>
          </template>

          <template v-slot:header>
            <h1>Here might be a page title</h1>
          </template>
        </TestSlot>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import HelloWorld from "@/components/HelloWorld";
import Childrens from "@/components/Childrens";
import TestSlot from "@/components/TestSlot";

export default {
  name: 'Info',
  components: {
    HelloWorld,
    Childrens,
    TestSlot,
  },
  data() {
    return {
      ifBtn: true,
      showBtn: true,
      originArr: ["apple", "banana", "cherry"],
      watchVal: "test",
      copyVal: "",
      msg: "Welcome to Vuetify",
      count: 12345,
      kid: 0,
      childrens: [],
    };
  },
  computed: {
    formatArr() {
      return this.originArr.map((fruit, idx) => ({
        fruit: fruit,
        value: idx,
      }));
    },
  },
  watch: {
    watchVal: {
      immediate: true,
      handler(val) {
        if (val) {
          this.copyVal = val;
        } else {
          this.copyVal = "Set Empty";
        }
      },
    },
  },
  methods: {
    add() {
      const baby = this.childrens.length + 1;
      this.childrens.push(baby);
    },
  },
  beforeCreate() {
    // 元件實體剛被建立，屬性計算之前。（取不到實體中的data）
    // console.log("beforeCreate - this.count: ", this.count);
    // console.log("beforeCreate - this.$el: ", this.$el); //$el指的html中的dom
  },
  created() {
    // 元件實體已建立，屬性已綁定，但 DOM 還沒生成。
    // console.log("created - this.count: ", this.count); //可以取得實體資料
    // console.log("created - this.$el: ", this.$el);
  },
  beforeMount() {
    // 模板 (template) 編譯或掛載至 HTML 之前
    // console.log("beforeMount - this.$el: ", this.$el);
  },
  mounted() {
    // 模板 (template) 編譯或掛載至 HTML 之後
    // console.log("mounted - this.$el: ", this.$el);
  },
  beforeUpdate() {
    // 元件被更新之前
    // console.log(
    //   "beforeUpdate: ",
    //   this.$el.querySelector("h1").innerText, //這邊就是取得html 的h1
    //   this.count
    // );
  },
  updated() {
    // 元件被更新之後
    // console.log(
    //   "updated: ",
    //   this.$el.querySelector("h1").innerText,
    //   this.count
    // );
  },
  beforeDestroy() {
    // 移除 vue instance 之前
    // console.log("beforeDestroy");
  },
  destroyed() {
    // 移除 vue instance 之後
    // console.log("destroyed");
  },
};
</script>

<style lang="scss" scoped>
</style>