<template>
  <v-layout row wrap justify-center class="px-md-6">
    <v-flex xs12>
      <h1 class="text-center pink--text pa-2">Leaflet.js & PTX.transportdata-api</h1>
    </v-flex>
    <v-flex class="my-4">
      <v-divider />
    </v-flex>
    <v-flex xs12 md6 pa-4>
      <v-card>
        <v-card-text>
          <v-btn-toggle>
            <v-btn color="primary" @click="mapInit(1)">撈取火車站座標</v-btn>
            <v-btn color="primary" @click="mapInit(2)">撈取高鐵站座標</v-btn>
          </v-btn-toggle>
          <v-flex class="my-4">
            <v-divider />
          </v-flex>
          <h4>
            PTX.transportdata.tw
            MOTC-v2 TRA / THSR
          </h4>
          <pre class="caption">Map Arr :{{ maps[0] }}</pre>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md6 pa-4>
      <v-card>
        <v-card-text>
          <!-- 初始化地圖設定 -->
          <l-map
            ref="myMap"
            :zoom="zoom"
            :center="center"
            :options="options"
            style="height: 500px; z-index: 2"
          >
            <!-- 載入圖資 -->
            <l-tile-layer :url="url" :attribution="attribution" />

            <!-- 自己所在位置 -->
            <l-marker ref="location" :lat-lng="center">
              <l-popup> 你的位置 </l-popup>
            </l-marker>
            <!-- 創建標記點 -->
            <l-marker
              v-for="(item, idx) in maps"
              :key="`${idx}`"
              :lat-lng="item.StationPosition"
            >
              <!-- 標記點樣式判斷 -->
              <l-icon
                :icon-url="icon.type.black"
                :shadow-url="icon.shadowUrl"
                :icon-size="icon.iconSize"
                :icon-anchor="icon.iconAnchor"
                :popup-anchor="icon.popupAnchor"
                :shadow-size="icon.shadowSize"
              />
              <!-- 彈出視窗 -->
              <l-popup>
                {{ item.StationName.Zh_tw }}
              </l-popup>
            </l-marker>
          </l-map>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "MapToys",
  data: () => ({
    maps: [],
    zoom: 7,
    center: [25.13401, 121.74013],
    url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    attribution: `© <a href="https://www.youtube.com/watch?v=CS9OO0S5w2k">Kanahei OpenStreetMap</a> contributors`,
    options: {
      zoomControl: true,
    },
    icon: {
      type: {
        black: require("@/assets/img/logo.png"),
      },
      shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
      iconSize: [35, 35],
      iconAnchor: [10, 10],
      popupAnchor: [5, 5],
      shadowSize: [0, 0],
    },
  }),
  methods: {
    async mapInit(goWhere) {
      let loader = this.$loading.show()
      // 等地圖創建後執行
      this.$nextTick(() => {
        // 獲得目前位置
        navigator.geolocation.getCurrentPosition((position) => {
          const p = position.coords;
          // 將中心點設為目前的位置
          this.center = [p.latitude, p.longitude];
          // 將目前的位置的標記點彈跳視窗打開
          this.$refs.location.mapObject.openPopup();
        });
      });
      
      let url = ""

      switch (goWhere) {
        case 1:
          url = "https://ptx.transportdata.tw/MOTC/v2/Rail/TRA/Station?$top=200&$format=JSON"
          break;
        case 2:
          url = "https://ptx.transportdata.tw/MOTC/v2/Rail/THSR/Station?$top=100&$format=JSON"
          break;
      }

      await this.axios.get(url).then((res) => {
        const map = res.data.map((list) => ({
          LocationCity: list.LocationCity,
          // "基隆市"
          id: list.LocationCityCode,
          // "KEE"
          LocationTown: list.LocationTown,
          // "仁愛區"
          LocationTownCode: list.LocationTownCode,
          // "10017040"
          OperatorID: list.OperatorID,
          // "TRA"
          StationAddress: list.StationAddress,
          // "20045基隆市仁愛區德厚里龍安街 206 號"
          StationClass: list.StationClass,
          // "4"
          StationID: list.StationID,
          // "0910"
          StationName: list.StationName,
          // {Zh_tw: "三坑", En: "Sankeng"}
          StationPhone: list.StationPhone,
          // "02-24230289"
          StationPosition: [
            list.StationPosition.PositionLat,
            list.StationPosition.PositionLon,
          ],
          // {PositionLon: 121.74202, PositionLat: 25.12305, GeoHash: "wsqwfm9b6"}
          StationUID: list.StationUID,
          // "TRA-0910"
          UpdateTime: list.UpdateTime,
          // "2021-06-22T00:04:35+08:00"
        }));
        this.maps = map
        loader.hide()
      })
      .catch((err)=> {
        console.log(err)
        loader.hide()
      })
    }
  },
};
</script>

<style>
html,
body {
  padding: 0;
  margin: 0;
}
</style>