<template>
  <v-layout row wrap justify-center>
    <v-flex xs12>
      <h1 class="text-center pink--text pa-2">任務管理器</h1>
    </v-flex>
    <v-flex xs12 md7 lg5>
      <v-card class="mx-auto mt-5">
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">任務管理器</div>
            <v-list-item-title class="headline mb-1">
              任務清單
            </v-list-item-title>
            <v-list-item-subtitle class="pl-1 pt-2">
              Task list
            </v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-avatar tile size="80">
            <v-icon large> mdi-clock </v-icon>
          </v-list-item-avatar>
        </v-list-item>
        <v-card-text class="ma-0">
          <v-text-field
            v-model="event"
            label="請輸入代辦事項"
            type="text"
            filled
            class="ma-2"
            append-icon="mdi-send"
            @click:append="create"
          ></v-text-field>
          <v-layout row warp class="ma-0">
            <v-flex
              xs12
              v-for="(list, index) in eventList"
              :key="`list-${index}`"
            >
              <v-card class="my-2 pa-3 grey lighten-4 card-bg">
                <v-btn
                  class="mr-2"
                  :disabled="index === 0"
                  small
                  depressed
                  color="primary"
                  @click="sort(list.id, 'up')"
                >
                  往上
                  <v-icon small>
                    mdi-arrow-up
                  </v-icon>
                </v-btn>
                <v-btn
                  :disabled="list.id === lastIndex"
                  small
                  depressed
                  color="primary"
                  @click="sort(list.id, 'down')"
                >
                  往下
                  <v-icon small>
                    mdi-arrow-down
                  </v-icon>
                </v-btn>
                <v-rating
                  color="warning"
                  empty-icon="mdi-star-outline"
                  full-icon="mdi-star"
                  :length="5"
                  :size="20"
                  :value="list.star"
                  class="mt-3"
                ></v-rating>
                <p v-if="!list.edit" class="mx-3">
                  {{ list.msg }}
                </p>
                <v-text-field
                  v-else
                  v-model="editEvent"
                  label="請輸入修改代辦事項"
                  type="text"
                  filled
                  class="ma-2"
                  append-outer-icon="mdi-pencil"
                  @click:append-outer="edit(list.id)"
                />
                <v-flex class="text-right">
                  <v-btn
                    v-if="!list.edit"
                    color="success"
                    depressed
                    small
                    @click="toEdit(list.id)"
                  >
                    更新
                  </v-btn>
                  <v-btn
                    v-else
                    small
                    @click="list.edit = false"
                  >
                    取消
                  </v-btn>
                  <v-btn
                    small
                    color="error"
                    depressed
                    class="ml-2"
                    @click="remove(list.id)"
                  >
                    移除
                  </v-btn>
                </v-flex>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'TodoList',
  data() {
    return {
      event: "吃飯",
      editEvent: "",
      i: 2,
      eventList: [
        {
          id: 0,
          msg: "吃早餐",
          star: 5,
          edit: false,
        },
        {
          id: 1,
          msg: "整理資料",
          star: 5,
          edit: false,
        },
      ],
    };
  },
  computed: {
    lastIndex() {
      let index = 0;
      this.eventList.forEach((item) => {
        index = item.id;
      });
      return index;
    },
  },
  methods: {
    create() {
      let event = {
        id: this.i++,
        msg: this.event,
        star: 3,
        edit: false,
      };
      this.eventList.push(event);
      this.event = "";
    },
    toEdit(id) {
      this.eventList.forEach((list) => {
        if (list.id === id) {
          list.edit = true;
          this.editEvent = list.msg;
        }
      });
    },
    edit(id) {
      this.eventList.forEach((list) => {
        if (list.id === id) {
          list.msg = this.editEvent;
          list.edit = false;
        }
      });
    },
    remove(id) {
      const index = this.eventList.findIndex((list) => list.id === id);
      if (index > -1) {
        this.eventList.splice(index, 1);
      }
    },
    sort(itemId, direction) {
      let tasks = this.eventList.slice();
      if (direction == "up") {
        let currentLiIndex;
        let currentLiData;
        let beforeLiData;

        tasks.forEach((task, i) => {
          if (itemId === task.id) {
            currentLiIndex = i;
            currentLiData = task;
            beforeLiData = tasks[i - 1];
          }
        });
        tasks[currentLiIndex - 1] = currentLiData;
        tasks[currentLiIndex] = beforeLiData;
      }

      if (direction == "down") {
        let currentLiIndex;
        let currentLiData;
        let afterLiData;

        tasks.forEach((task, i) => {
          if (itemId === task.id) {
            currentLiIndex = i;
            currentLiData = task;
            afterLiData = tasks[i + 1];
          }
        });
        tasks[currentLiIndex] = afterLiData;
        tasks[currentLiIndex + 1] = currentLiData;
      }
      this.eventList = tasks;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>