<template>
  <div>
    <v-layout wrap row>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            在這邊教作業
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    data() {
      return {}
    }
  }
</script>

<style lang="scss" scoped>

</style>