<template>
  <div>
    <v-layout>
      <v-flex xs12>
        <v-sheet elevation="2">
          <v-tabs v-model="activeTab" fixed-tabs show-arrows icons-and-text background-color="pink darken-1" dark>
            <v-tab
              v-for="(list, idx) in menu"
              :key="`menu-${idx}`"
              :to="list.route"
            >
              {{ list.name }}
              <v-icon>
                {{ list.icon }}
              </v-icon>
            </v-tab>
          </v-tabs>
        </v-sheet>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    menu: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activeTab: ''
    }
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
</style>